<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720214460863-c9k1ubm3jt1jq24t9u7l3egig9tp70af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720214460863-c9k1ubm3jt1jq24t9u7l3egig9tp70af</string>
	<key>API_KEY</key>
	<string>AIzaSyCQFLC7DHMcMsE9SzoNmzUuuVh9TXnRFSM</string>
	<key>GCM_SENDER_ID</key>
	<string>720214460863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcx.siqaretdenazadol</string>
	<key>PROJECT_ID</key>
	<string>project-3410878376362473690</string>
	<key>STORAGE_BUCKET</key>
	<string>project-3410878376362473690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720214460863:ios:ac01be77aeddd80f91790a</string>
</dict>
</plist>